.container {
  margin-top: 40px;
  width: 90%;
}
.country-select-box {
  width: 190px;
}
.year-select-box {
  width: 190px;
}

.App {
  text-align: center;
}
.select-country {
  display: flex;
  align-items: center;
  margin-bottom: 140px;
}
.select-country h4 {
  margin-right: 30px;
  margin-left: 30px;
}
